/*Method of adding external CSS*/

.e1 {
    background-color: red;
    color: white;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
}

.odd {
    background-color: #f08080;
    font-family: Verdana, 'DejaVu Sans', sans-serif;
}

#second {
    color: #0038f0;
    font-size: 36px;
}

.odd.third{
    font-size: 24px;
}

#fourth{
    background-color: #2e8b57;
    font-size: 24px;
    font-weight: bold;
}